.crm-container{
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.crm-sidebar{
    width: 250px;
    background-color: #1e1e2f;
    color: white;
    padding: 20px;
}

.crm-sidebar h3{
    margin-bottom: 20px;
}

.crm-sidebar ul {
    list-style: none;
    padding: 0;
}

.crm-sidebar li{
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.crm-sidebar li:hover{
    background: #33334d;
}

/* .active{
    background: #00aaff;
} */

